# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IDE (IntelliJ)
.idea/
*.iml
*.iws
*.ipr
out/

# OS-специфика
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
logs/
*.swp
*.swo

# Локальные конфиги/секреты (если появятся)
.env
*.local.*
application-*.local.yml
